<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Tickets</a>
        <a class="nav-link" aria-current="page" href="/profile">Profile</a>
    </li>
</ul>